@font-face {
    font-family: Helvetica;
    src: url(../fonts/helvetica.ttf);
    font-weight: 100;
}

html {
	overflow: hidden;
	background: #120d0b;

}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#bg {
	position: absolute;
	width: 100%;
	top: 0;
	filter: blur(60px);
}

#bg img {
	width: 100%;
}

body {
	padding-top: 16px;
    box-sizing: border-box;
}

.chat {
	width: 40%;
	margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

#history {
	background: rgba(238, 238, 238, 0.38);
    height: 80%;
    border-radius: 3px;
    overflow: hidden;
}

#history > div {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.message {
	padding: 0 16px 0 16px;
	padding-bottom: 0;
	font-size: 16px;
	font-weight: bold;
	transition: 0.2s ease;
	position: relative;
	height: 0;

}

.message > div {
	position: absolute;
	top : 0;
	display: inline-block;
    border-radius: 3px;
    font-family: 'Helvetica';
    margin: 0 0 16px 0;
    max-width: 65%;
}

.message > div > p {
	margin: 0;
    padding: 12px;
}

.message.bot > div{
    background: #46262f;
    color : #ffffff;
    transform: translateX(-32px);
    right: -16px;
}

.message.user > div{
	background: #ffffff;
	color: #464646;
}

#field {
	height: 20%;
	background: transparent;
	padding-top: 16px;
	padding-bottom: 16px;
}

#field textarea {
	width: 100%;
	box-sizing: border-box;
	resize: none;
	outline: none;
	font-family: 'Helvetica';
	padding: 8px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 3px;
    color : #464646;
    border: none;
   	height: 100%;
}

@media screen and (max-aspect-ratio: 16/9) {
     html {
    	background-size: auto 100%;
    }
}

@media screen and (max-aspect-ratio: 3/2) {
    .chat {
    	width: 90%
    } 
}

@media screen and (max-aspect-ratio: 1/1) {
    

    html {
    	background-size: auto 100%;
    }
}

#field form {
	height: 100%;
}

#menu {
	position: absolute;
	height: 100%;
	width: 300px;
	background: #f7f7f7;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
	top: 0;
	left: 0%;
	box-sizing: border-box;
	padding: 16px;
	overflow: auto;
}

#menu table {
}

#menu.hidden {
	width: 50px;
}

#menu.hidden #button {
	visibility: visible;
}

#menu.hidden table {
	display: none;
}

#button {
	visibility: hidden;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	background-size: 30px 30px;
	background-image: url('../graphics/menu.png')
}

#heading {
	position: relative;
	color: black;
	font-size:20px;
}

table {
	border-collapse: collapse;
	width: 100%;
	font-family: Helvetica;
	font-size: 16px;
}

td {
	text-indent: -9999px;
	height: 150px;
	padding: 16px 8px 0 8px;
	box-sizing: border-box;
	cursor: pointer;
}

td div {
	width: 100%;
	height: 100%;
	background: grey;
	border-radius: 5px;
}

/*themes*/
td.t0 div {
	background-color: #141b40;
}

td.t1 div {
	background-color: #29635d;
}

td.t2 div {
	background-color: #f44336;
}

td.t3 div {
	background-color: #2f0835;
}

td.t4 div {
	background-color: #00bcd4;
}

td.t5 div {
	background-color: #ccb916;
}

.message.bot > div[data-theme=t0] {
	background-color: #141b40;
}

.message.bot > div[data-theme=t1] {
	background-color: #29635d;
}

.message.bot > div[data-theme=t2] {
	background-color: #f44336;
}

.message.bot > div[data-theme=t3] {
	background-color: #2f0835;
}

.message.bot > div[data-theme=t4] {
	background-color: #00bcd4;
}

.message.bot > div[data-theme=t5] {
	background-color: #ccb916;
}


